.todo p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;margin-bottom: -5px;
    color: rgb(245, 128, 113);
}
.todo1 {
    display: none;
}

@media only screen and (max-width:993px) {
    .todo p{
        display: none;
    }
    .todo1{
       display:inline !important;
        position: relative;
    }
    .todo1 p{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(245, 128, 113);
        /* margin-left:-12cm; */
        position:absolute; 
    }

}